@model List<RipCore.Models.Entities.Course>
@{
    ViewBag.Title = "CourseOverview";
}

<h2>CourseOverview</h2>

<p>All courses  should be displayed here</p>


<ul>
    @foreach (var item in Model)
    {
        <li>
            @Html.ActionLink(item.Name, "CourseDetails", new { id = item.ID })
        </li>
    }
</ul>