@model RipCore.Models.ViewModels.AdminCourseOverView

@{
    ViewBag.Title = "EditCourse";
}

<h2>EditCourse</h2>
<p>@Model.ID</p>

@{ Html.RenderPartial("CourseForm"); }



@Html.ActionLink("Bæta notendun við áfangann", "CourseConnections", new { courseID = @Model.ID })
