@model RipCore.Models.ViewModels.AdminCourseOverView

@{
    ViewBag.Title = "EditCourse";
}

<h2>@Model.Name</h2>

@{ Html.RenderPartial("CourseForm"); }

<div class="col-md-offset-2 col-md-1">
    @Html.ActionLink(@Resources.Resources.AddToCourse, "CourseConnections", new { courseID = @Model.ID },
            htmlAttributes: new
            {
                @class = "btn btn-success",
                @role = "button"
            }
            )
</div>



