@model RipCore.Models.ViewModels.AdminCourseOverView

@{
    ViewBag.Title = "EditCourse";
}

<h2>@Model.Name</h2>

@{ Html.RenderPartial("CourseForm"); }



@Html.ActionLink("Bæta notendum við áfangann", "CourseConnections", new { courseID = @Model.ID })
