@model RipCore.Models.ViewModels.AdminCourseOverView

@{
    ViewBag.Title = "EditCourse";
}

<p>@Model.ID</p>

@{ Html.RenderPartial("CourseForm"); }



@Html.ActionLink("Bæta notendum við áfangann", "CourseConnections", new { courseID = @Model.ID })
