
@{
    ViewBag.Title = "Index";
}

<h2>Admin Homepage</h2>
<ul>
    <li>
        @Html.ActionLink("Courses", "CourseOverview", "Admin", null, htmlAttributes: new { @class = "btn btn-info", @role = "button" })
    </li>
    <li>
        @Html.ActionLink("Persons", "PersonOverview", "Admin", null, htmlAttributes: new { @class = "btn btn-info", @role = "button" })
    </li>
</ul>

