
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h2>Admin Homepage</h2>
<p><a href="CourseOverview">Courses</a></p>
<p><a asp-action="AddCourse">Add course</a></p>
<p><a asp-action="EditCourse">Edit course</a></p>
<p><a href="PersonOverview">Persons</a></p>
<p><a asp-action="AddPerson">Add person</a></p>
<p><a asp-action="EditPerson">Edit person</a></p>
<p><a href="User">User</a></p>


