@model RipCore.Models.ViewModels.CourseViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h1>@Model.Name</h1>
@Html.ActionLink("Student", "Index", "Student")
<tr> 
//foreach (var item in Model)
//{
    <td> 
        @Html.ActionLink(Model.Name, "Edit") 
    </td>
//}
