
body 
{
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content 
{
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt 
{
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea 
{
    max-width: 280px;
}

.assignments 
{
    margin: -11em 20em;
}

nav.courses 
{
    margin-bottom: 20em;
}

main.courseInfo {
    margin: -35em 20em 10em 20em;
}

.lists {
    margin: -10em -10em 10em 62em;
}

footer{
    margin-top: 25em;
}

.unorderedCourses
{
    list-style-type: none;
}

#editor {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 300px;
}

#description
{
    border: 1px solid #dddddd;
    padding: 1em;
}

.topRow
{
    padding-top: 1em;
    padding-right: 1em;
}

.bottomRow
{
    padding-bottom: 1em;
}