@model RipCore.Models.ViewModels.SubmissionViewModel
@if(Model.IsAccepted)
{
    <h3 class="accepted">Accepted</h3>
}

@if(!Model.IsAccepted)
{
    <h3 class="notAccepted">Not Accepted</h3>

}
<div class="row">
    @if (Model.SolutionOutput.Count != 0)
    {
        <div class="col-md-4">
            <div class="col-md-10">
                @Html.LabelFor(model => model.SolutionOutput, "Your result:", htmlAttributes: new { @class = "control-label col-md-4" })
            </div>
            <div class="col-md-10">
                @foreach (var item in Model.SolutionOutput)
                {
                    <p>@item</p>
                }
            </div>
        </div>
    }
    @if (Model.ExpectedOutput.Count != 0)
    {
        <div class="col-md-4">
            <div class="col-md-10">
                @Html.LabelFor(model => model.ExpectedOutput, "Expected result:", htmlAttributes: new { @class = "control-label col-md-4" })
            </div>
            <div class="col-md-10">
                @foreach (var item in Model.ExpectedOutput)
                {
                    <p>@item</p>
                }
            </div>
        </div>
    }

</div>