@model RipCore.Models.ViewModels.SubmissionViewModel
@if(Model.IsAccepted)
{
    <h3 class="accepted">Accepted</h3>
    <p>Your result: @Model.SolutionOutput</p>
    <p>Expected result: @Model.ExpectedOutput</p>
}

@if(!Model.IsAccepted)
{
    <h3 class="notAccepted">Not Accepted</h3>
    <p>Your result: @Model.SolutionOutput</p>
    <p>Expected result: @Model.ExpectedOutput</p>
}


