@model RipCore.Models.ViewModels.SubmissionViewModel

@{
    ViewBag.Title = "HtmlCode";
}
@{ Html.RenderPartial("TestResults"); }

<section>
    <div id="editor">
        @Model.Code
    </div>
</section>
<script type="text/javascript">
    var editor = ace.edit("editor");
    //editor.setTheme("ace/theme/twilight");
   // editor.getSession().setMode("ace/mode/c#");
</script>

