@model RipCore.Models.ViewModels.SubmissionsOverViewModel
@for (int i = 0; i < Model.MilestoneNames.Count; i++)
{
    <h2>@Model.MilestoneNames[i]</h2>
    <table>
        <thead>
            <tr>
                <th>
                    User
                </th>
                <th>
                    Submission
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.usersSubmissions[i])
            {
                <tr>
                    <td>
                        <h6>
                            @item.UsersName
                        </h6>
                    </td>
                    <td>
                        <h6>
                            @Html.ActionLink("See submission", "SubmissionDetails", new { id = item.ID, isTeacher = false })
                        </h6>
                    </td>
                    <td>
                        <h6>
                            //TODO isAccepted
                        </h6>
                    </td>
                </tr>

            }

            @foreach (var item in Model.otherSubmissions[i])
            {
                <tr>
                    <td>
                        <h6>
                            @item.UsersID
                        </h6>
                    </td>
                    <td>
                        <h6>
                            Submission
                        </h6>
                    </td>
                    <td>
                        <h6>
                            //TODO isAccepted
                        </h6>
                    </td>
                </tr>

            }
        </tbody>
    </table>
}
