@model RipCore.Models.ViewModels.SubmissionViewModel
<table>
    <thead>

    </thead>
    <tbody>
        <tr>
            <td>
                @Model.IsAccepted
            </td>
        </tr>
    </tbody>
</table>

