@model List<RipCore.Models.Entities.Course>
@{
    ViewBag.Title = "Index";
}
<h1>Courses</h1>
<ul> 
@foreach (var item in Model)
{
    <li>
        @Html.ActionLink(item.Name, "CourseDetails", new { id=item.ID }) 
    </li>
}
</ul>