@model RipCore.Models.ViewModels.CourseOverViewModel
@{
    ViewBag.Title = "Index";
}
<nav class="courese">
    <h3>Courses as Student</h3>
    <ul>
        @foreach (var item in Model.whereStudent)
        {
            <li>
                @Html.ActionLink(item.Name, "StudentOverview", new { id = item.ID })
            </li>
        }
    </ul>
    <h3>Courses as Teacher</h3>
    <ul>
        @foreach (var item in Model.whereTeacher)
        {
            <li>
                @Html.ActionLink(item.Name, "TeacherOverview", new { id = item.ID })
            </li>
        }
    </ul>
</nav>
<main class="assignments">
    <h3>Assignments</h3>
    <ul>
        @foreach (var item in Model.assignments)
        {
            <li>
                <p>@item.Title</p>
            </li>
        }
    </ul>
</main>
