@model RipCore.Models.ViewModels.HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>RipCore</h1>
    <p class="lead">@Resources.Resources.Introduction</p>
    @if (!Model.IsLoggedIn)
    {
        @Html.Partial("_LoginPartial")
    }
    @if (Model.IsLoggedIn)
    {
        @Html.ActionLink(@Resources.Resources.Start, "Index", "User", new { id = ""}, htmlAttributes: new { @class = "btn btn-default", @role = "button" })
   }
</div>
